<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/tx
						http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/mvc
						http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">


	<!-- To Enable annotations -->
	<context:annotation-config />
	<context:component-scan
		base-package="com.jeevan.*" /><!-- Put this “ context:component ” in bean 
		configuration file, it means, enable auto scanning feature in Spring. The 
		base-package is indicate where are your components stored, Spring will scan 
		this folder and find out the bean (annotated with @Component) and register 
		it in Spring container. -->

	<!-- <bean id="service"
		class="com.jeevan.service.impl.StudentServiceImpl" /> just for the usage of Injection (autowire) concept in the project
	<bean id="dao" class="com.jeevan.dao.Impl.StudentDaoImpl" />
 -->
	<!-- inheritence you can give any number of things -->

	<import resource="applicationContext-hibernate.xml" />
	<import resource="applicationContext-service.xml" />
	<import resource="applicationContext-dao.xml" />
	<import resource="applicationContext-quartz.xml" />



</beans>